doctype html
html(lang='en', data-ng-controller='AppController')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Droid+Sans:400,700')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Droid+Sans+Mono')
    link(rel='stylesheet', href='/assets/vendor/normalize-css/normalize.css')
    link(rel='stylesheet', href='/assets/css/styles.css')
    title(data-ng-bind='pageTitle') Radian ~ A scalable AngularJS framework
  body
    div#app
      div(data-ng-include, data-src='headerPartial')
      div#view.row(data-ng-view, data-onload='handleViewLoaded()')
      div(data-ng-include, data-src='ctaPartial')
      div(data-ng-include, data-src='footerPartial')
    script
      document.write('<div id="mask" data-ng-hide="hideLoader"></div>')
    script(src='/assets/vendor/requirejs/require.js', data-main='/assets/js/app')