#mask {
  @include single-transition(opacity, 250ms);
  @extend .fixed;
  background: image-url('ajax-loader.gif') no-repeat center center white;
  height: 100%;
  left: 0;
  opacity: 1;
  top: 0;
  width: 100%;

  &.ng-animate {
    display: block !important;
  }

  &.ng-hide {
    opacity: 0;
  }
}