@mixin small {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin medium {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin xlarge {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin ng-animate($duration: 1s) {
  &.ng-hide-add,
  &.ng-hide-remove {
    display: block !important;
    @include transition-property(opacity);
    @include transition-duration($duration);
  }

  &.ng-hide-add.ng-hide-add-active,
  &.ng-hide {
    opacity: 0 !important;
  }

  &.ng-hide-add,
  &.ng-hide-remove.ng-hide-remove-active,
  & {
    opacity: 1;
  }
}
