#footer {
  .border-radius(3px 3px 0 0);
  background: #eeeeee;
  margin-top: 10px;
  padding: 1em;

  & {
    .small;
    .content() {
      text-align: center;
    }
  }

  a {
    font-size: 0.8em;

    & {
      .large;
      .content() {
        font-size: 1em;
      }
    }
  }

  ul {
    & {
      .medium;
      .content() {
        float: right;
      }
    }

    li {
      a {
        border-left: 1px solid #999999;
        padding: 0 0.5em;

        & {
          .small;
          .content() {
            border: 0;
          }
        }
      }

      &:first-child a {
        border: 0;
        padding-left: 0;
      }
    }
  }
}