@import 'partial/mixins.scss';
@import 'partial/global.scss';
@import 'partial/app.scss';
@import 'partial/header.scss';
@import 'partial/menu.scss';
@import 'partial/cta.scss';
@import 'partial/footer.scss';
@import 'partial/home.scss';