div#header.row(data-ng-controller='headerController')
  div.text-centre
    a#logo(href='/')
    :markdown
      # **Radian** is a scalable AngularJS framework, perfect for multi developer projects
  div(data-ng-include='menuPartial')