div#faqs
  :markdown
    # FAQs
    ## Why did you write this?
    I think AngularJS is great. I've used it on a number of small and large projects, but there was something that wasn't quite right about how to set up an app. I found that many developers chose different ways of doing the same thing, and this led to complexity and tight coupling. So I decided to create what [Marionette is to Backbone](https://github.com/marionettejs/backbone.marionette) but for AngularJS.

    ## What about [angular-seed](https://github.com/angular/angular-seed)?
    The angular-seed project is a good place for a developer new to AngularJS to start, but if you want to build a truly scalable and multi developer app then you need a more robust approach.

    Radian provides a common style and set up to dealing with problems faced by teams when working on AngularJS apps. The beauty of using AMD to handle the loading of dependancies outside of the releams of AngularJS provides a higher level of abstraction and modulartiry to your code.

    Radian is also pretty simple: all that's really happening is that you're splitting up your app into small, managable and decoupled components; this means you write more modulised code that helps you adopt the [DRY](http://en.wikipedia.org/wiki/Dont_repeat_yourself) approach to your app.

    ## What if you don't use SASS, Jade or CoffeeScript?
    Don't worry buddy, that's cool. You can simply grab all the JS, CSS and HTML by running the `grunt` command and dump all that precompiler nonsense.

    The advantage (IMHO) to using precompiled languages is that they require a strict style and thus code is cleaner and more consistent; but that's a discussion for another day.

    ## What about tests?
    That's been covered too. Since the point of Radian is to highlight a style of app development I've also written unit and client tests to make sure that all the code is pretty nice, open your terminal and run:

        npm test

    ## Are there any docs?
    Yep, the source code is all commented and I've used [Docco](https://github.com/jashkenas/docco) to <a href="/docs/app.html" target="_self">compile the docs</a>.

    ## Who are you?
    I'm [Ahmed Nuaman](http://ahmednuaman.com), I wrestle dachshunds and solve problems.