div#footer.row(data-ng-controller='footerController')
  a(href='http://ahmednuaman.com') Made with pain and blood by @ahmednuaman
  ul.list-menu
    li
      a(href='https://github.com/ahmednuaman/radian') Github Repo
    li
      a(href='https://travis-ci.org/ahmednuaman/radian') Travis CI Status
    li
      a(href='https://github.com/ahmednuaman/radian/blob/master/LICENSE') MIT License