<div id="home" data-ng-controller="homeController"><div class="row"><div class="col-3"><span class="icon icon-scale"></span><h2 id="code-that-scales">Code that scales</h2>
<p>Radian is the perfect set up for projects that need to scale fast. The AMD structure allows single developers to large teams to quickly and efficiently write and deploy great apps.</p>
</div><div class="col-3"><span class="icon icon-setup"></span><h2 id="rapid-set-up">Rapid set up</h2>
<p>Radian comes with everything out the box, that means there&#39;s all the minification and concatination tasks as well as a local server and even a <a href="http://phantomjs.org">PhantomJS</a> web crawler to deal with SEO woes.</p>
</div><div class="col-3"><span class="icon icon-lightweight"></span><h2 id="light-weight">Light weight</h2>
<p>Radian is a way of doing things, so there&#39;s nothing new to install and no additional dependancies to <a href="http://angularjs.org">AngularJS</a> and <a href="http://requirejs.org">RequireJS</a>.</p>
</div></div><div class="row"><div class="col-3"><span class="icon icon-tests"></span><h2 id="100-code-coverage">100% code coverage</h2>
<p>Testing is at the heart of Radian, so out the box it comes complete with all the unit tests you could want, <a href="test/report/coverage/html/Chrome%2031.0.1650%20(Mac%20OS%20X%2010.9.0)/index.html" target="_self">here&#39;s the proof</a>.</p>
</div><div class="col-3"><span class="icon icon-yeoman"></span><h2 id="generate-with-yeoman">Generate with Yeoman</h2>
<p>Radian is better with <a href="http://yeoman.io">Yeoman</a>, use it to set up your project and use the subgenerators to quickly create your app&#39;s code, with tests included.</p>
</div><div class="col-3"><span class="icon icon-customise"></span><h2 id="your-app-your-way">Your app, your way</h2>
<p>Radian is highly customisable; from the offset you can start with the barebones app or reverse engineer the example code.</p>
</div></div><div class="row"><h2 id="quick-start">Quick start</h2>
<p>The purpose of Radian is to help your team and you start building your app with minimal set up. There are two ways to create a Radian project:</p>
</div><div class="row"><h3 id="radian-using-yeoman">Radian using Yeoman</h3>
<p>Firstly you need to install <a href="http://yeoman.io">Yeoman</a>, then you can set up Radian by simply running:</p>
<pre><code>npm install -g generator-radian
yo radian
</code></pre><p>You can then make use of the built in subgenerators to create your project files, you have the choice of two types of generators, you use them by running:</p>
<pre><code>yo radian:TYPE &#39;NAME&#39;
</code></pre><ul>
<li><strong>TYPE</strong>: is the generator you&#39;re wanting to use and...</li>
<li><strong>NAME</strong>: is the file/class/module name; this will be automatically slugified/camelized/classified for you, so it&#39;s better to write something like &#39;foo bar&#39;, rather than &#39;fooBar&#39;.</li>
</ul>
<h3 id="generating-coffeescript-files">Generating CoffeeScript files</h3>
<p>This generator will create a <strong>TYPE</strong>, say controller, in <code>assets/js/TYPE</code> and create a test spec in <code>test/unit/TYPE</code>; where <strong>TYPE</strong> is one of the following:</p>
<ul>
<li>controller</li>
<li>service</li>
<li>factory</li>
<li>directive</li>
<li>collection</li>
<li>vo</li>
</ul>
<p>Eg running:</p>
<pre><code>yo radian:controller &#39;foo bar&#39;
</code></pre><p>Creates <code>assets/js/controller/foo-bar-controller.coffee</code> containing:</p>
<pre><code>define [
  &#39;config&#39;
  &#39;angular&#39;
], (cfg, A) -&gt;
  class FooBarController
    @$inject = [
      &#39;$scope&#39;
    ]

    constructor: (@$scope) -&gt;
      @init()

    init: () -&gt;

  app = A.module cfg.ngApp
  app.controller &#39;fooBarController&#39;, FooBarController
</code></pre><p>And <code>test/unit/controller/foo-bar-controller-spec.coffee</code> containing:</p>
<pre><code>define [
  &#39;config&#39;
  &#39;angular&#39;
  &#39;controller/foo-bar-controller&#39;
], (cfg, A) -&gt;
  describe &#39;Foo Bar controller&#39;, () -&gt;
    $scope = null
    createController = null

    beforeEach module cfg.ngApp

    beforeEach inject ($injector) -&gt;
      $controller = $injector.get &#39;$controller&#39;
      $rootScope = $injector.get &#39;$rootScope&#39;

      $scope = $rootScope.$new()

      createController = () -&gt;
        $controller &#39;fooBarController&#39;,
          $scope: $scope

    it &#39;should load&#39;, () -&gt;
      controller = createController()
</code></pre><h3 id="generating-jade-and-sass-files">Generating Jade and SASS files</h3>
<p>This generator creates a Jade partial and an accompanying SASS partial, eg running:</p>
<pre><code>yo radian:partial &#39;my new view&#39;
</code></pre><p>Creates <code>assets/css/partial/_my-new-view.sass</code> and <code>assets/partial/my-new-view-partial.jade</code>, and finally updates <code>assets/css/_partials.sass</code> to include the newly created SASS file.</p>
<h3 id="radian-without-using-yeoman">Radian without using Yeoman</h3>
<p>All you need to have installed is <a href="http://git-scm.org">git</a>, <a href="http://nodejs.org">NodeJS</a> and the following NodeJS <code>cli</code> tools:</p>
<ul>
<li><a href="http://gruntjs.com">GruntJS</a></li>
<li><a href="http://bower.io">Bower</a></li>
<li><a href="http://karma-runner.github.io">Karma</a></li>
</ul>
<p>To start using Radian simply download the code from <a href="https://github.com/ahmednuaman/radian">github.com</a> and set it up:</p>
<pre><code>npm install
grunt install
grunt
</code></pre></div><div class="row"><h3 id="and-then-">And then...</h3>
<p>Running <code>grunt</code> will generate all the JS, CSS and HTML, and it&#39;ll also start the local server, so point your browser to <a href="http://localhost:8000"><a href="http://localhost:8000">http://localhost:8000</a></a> and you&#39;re laughing.</p>
</div></div>