.block
  display: block

.col-3
  @extend .left
  padding-left: 20px
  width: 33%

  &:first-child
    padding-left: 0

  +small
    width: 100%
    padding-left: 0

.left
  @extend .block
  float: left

.relative
  @extend .block
  position: relative

.right
  @extend .block
  float: right

.row
  @extend .left
  width: 100%

.text-centre
  text-align: center

*
  +box-sizing(border-box)
  font-family: 'Droid Sans', Arial, sans-serif

body,
div,
p
  color: #444
  line-height: 1.7em

a
  +single-transition(color, 250ms)
  color: #A6120D
  font-weight: bold
  text-decoration: none

  &:hover
    color: #000

code,
pre
  +border-radius(3px)
  font:
    family: 'Droid Sans Mono', monospace, serif
    size: .8em

code
  background: #f8f8f8
  border: 1px solid #ccc
  padding: 1px 2px

pre
  background: #333
  color: #f8f8f8
  padding: 1em

  code
    border: 0
    background: none
    font-size: 1em
    padding: 0

ul.list-menu
  &,
  li
    list-style: none
    margin: 0
    padding: 0

  li
    display: inline

    a
      display: inline-block