#header
  h1
    display: none

  #logo
    background:
      image: image-url('logo.png')
      image: image-url('logo.svg')
      repeat: no-repeat
      size: 100%
    display: inline-block
    height: 100px
    width: 100px

    +medium
      height: 200px
      width: 200px

    +large
      height: 300px
      width: 300px