@mixin small {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin medium {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin xlarge {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}
