=small()
  @media only screen and (max-width: 768px)
    @content

=medium()
  @media only screen and (min-width: 768px)
    @content

=large()
  @media only screen and (min-width: 992px)
    @content

=xlarge()
  @media only screen and (min-width: 1200px)
    @content